{% extends "layout.html" %}} {% block aaqib %}

<!-- Page Header -->
<header class="masthead" style="width: 1263px; height: 800px; background-image: url('{{url_for('static',filename ='img/about.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>The Gamer's World does not post any original content. All of the articles on this site were posted somewhere else and were simply indexed here through the original owner's RSS feed. It is very important to acknowledge the content owner for
                the hard work they put into publishing original content.
            </p>
        </div>
    </div>
</div>
{% endblock aaqib %}