<!DOCTYPE html>
<html>

<head>
    <meta char="UTS-8">
    <meta name="description" content="build a form ">
    <title>Fill up the form</title>
</head>

<body>
    <form name="fullname">
        <label for="firstName">First Name       </label>
        <input id="firstName" type="text" name="fistname">
        <br>
        <label for="lastName">Last Name</label>
        <input id="lastName" type="text" name="lastname">
        <br>
        <label for="DOB">Date of bith</label>
        <input id="DOB" type="date" name="DOB">
        <br>
        <br>
        <label for="yourmessage">Give the response !</label>:
        <textarea id="yourmessage" name="yourmessage"></textarea>
        <br>
        <br>
        <label for="selectlanguage">the language you knows the most</label>
        <select id="selectlanguage" name="selectlanguage">
                <option value="lpython">Python</option>
                <option value="lC">C</option>
                <option value="lc++">C++</option>
                <option value="ljava">JAVA</option>
            </select>
        <br>
        <br>
        <fieldset>
            <legend>Mention your gender!</legend>
            <input id="male" type="radio" name="sex" value="male"><label for="male">Male</label>
            <input id="female" type="radio" name="sex" value="female"><label for="female">Female</label>
            <input id="other" type="radio" name="sex" value="other"><label for="other">other</label>
        </fieldset>
        <br>
        <input type="submit" value="SUBMIT">
    </form>

</body>




</html>